<section [formGroup]="fGName" class="form-group">
  <label style="font-size: 13px;" for="{{properties?.name}}">{{properties?.label}}</label>
  <textarea
    class="form-control"
    [formControlName]="properties?.name"
    placeholder="{{properties?.placeholder}}"
    maxlength="{{properties?.maxlength}}"
    rows="{{properties?.rows}}"
    cols="{{properties?.cols}}"
  ></textarea>
  <!--auto population of error messages, as a shared component-->
  <app-child-error-component [fG]="fGName" [properties]="properties"></app-child-error-component>
</section>
<!-- this is the replica of DAP-TEXTAREA component-->
  
