<!--Example of TEMPLATE DRIVEN FORMs-->
<div class="modal-header">
    <span class="material-icons" style="color: deeppink;margin:7px; font-size: 28px;"> 
        admin_panel_settings
    </span>
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="adminAuthFailedStatus" class="adminAuthFailedMsgSec mb-3">{{adminAuthFailedMsg}}</div>
    <form #adminLoginForm="ngForm" style="display: grid;" (keydown.enter)="adminLogin(adminLoginForm)">
        <mat-form-field class="template-form-login">
            <mat-label>User Name</mat-label>
            <input matInput type="text" ngModel maxlength="10" minlength="5" #adminUName="ngModel" name="adminUserName" [required]=true [(ngModel)]="adminUserName">
            <button *ngIf="adminUserName" matSuffix mat-icon-button aria-label="Clear" (click)="adminUserName=''">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="adminUName.touched && adminUName.invalid">Enter a valid user name</mat-error>
        </mat-form-field>
        <mat-form-field class="template-form-login">
            <mat-label>Password</mat-label>
            <input matInput type="password" ngModel maxlength="10" minlength="5" name="adminPassword" #adminPass="ngModel" [(ngModel)]="adminPassword" [required]="true">
            <button *ngIf="adminPassword" matSuffix mat-icon-button aria-label="Clear" (click)="adminPassword=''">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="adminPass.touched && adminPass.invalid">Enter a valid password</mat-error>
        </mat-form-field>
    </form>
</div>
<div class="modal-footer">
    <button mat-raised-button style="margin-right: 1rem" color="primary" (click)="adminLogin(adminLoginForm)" [disabled]="adminLoginForm.invalid">Continue</button>
    <button mat-raised-button (click)="resetAdminForm(adminLoginForm)" [disabled]="adminLoginForm.untouched">Reset</button>
</div>

