@import "../../variable";
@import "../../mixin";

.heading{
    @include header-logo($pink);
}

.example-headers-align .mat-expansion-panel-header-description{
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #555353;
}

.mat-expansion-panel-header-title{
    font-size: 15px;
    font-weight: bold;
    padding-top: 2px;
}

.mat-expansion-indicator::after{
    margin-top: -7px !important;
}

.mat-expansion-panel-header{
    padding: 10px 24px !important;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}

.cart-overview{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(116 114 114), 0 6px 20px 0 rgb(0 0 0 /19%); 
}

.cart-value{
    display: flex;
    flex-direction: column;
}

.cart-image{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.cart-secondary-font{
    font-size: 12px;
    color: $special-secondary;
}

.cart-origin-quantity{
    display: flex;
    font-size: 12px;
    font-weight: 600;
}

.mat-expansion-panel-content{
    margin-top: 5px;
}

.cart-extra-margin{
    margin-right: 1rem;
}

.mat-checkbox {
    font-family: inherit !important;
}

.cart-button-section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 767px){
    .cart-button-section{
        background-color: #ece8e8d9;
        margin-top: 10px;
        border-radius: 5px;
    }
}

.material-icons{
    cursor: pointer;
}

.offer-button-class{
    margin-right: 10px;
}

.dynamic_tabs{
    a{
        color: $black;
        &:hover{
            text-decoration: none;
            font-weight: 600;
            color: $site-theme;
        }
    }
}

.dish_basic_details{
    margin-top:16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dish_basic_details_section{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(116 114 114), 0 6px 20px 0 rgb(0 0 0 /19%); 
    display: flex;
    flex-direction: row;
}

.default_tabs_active{
    color: $site-theme !important;
    border-bottom: 2px solid $pink;
    font-weight: 600;
}

.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item{
    font-size: 13px !important;
}

.calorie_section{
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .dish_basic_details_section{
        flex-direction: column !important;
    }
    .calorie_section{
        justify-content: center !important;
        align-items: center !important;
        border-top: 1px solid black !important;
    }
}

.product-button{
    font-size: 12px;
}
