<div class="admin-search-section">
    <form [formGroup]="searchForm" style="font-size: 14px;">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput type="text" name="searchItem" formControlName="searchText">
            <button *ngIf="searchForm.get('searchText').value != ''" matSuffix mat-icon-button aria-label="Clear" (click)="setValue('searchText');">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </form>
</div>
