<mat-card class="example-card">
    <mat-card-header class="product-header">
        <mat-card-title style="font-weight: 600;font-size: 15px;">{{product?.name}}
            <span class="material-icons" [ngStyle]="{'color':product?.origin === 'Veg' ? 'green' : 'red' }">
                adjust
            </span>
        </mat-card-title>
        <mat-card-subtitle>
            <span styel="font-size: 13px;">{{product?.origin}}</span>
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="product-image" src="assets/images/{{product?.image}}" [alt]="product?.alt">
    <mat-card-content>
        <div class="product-desc">
            <div [tooltip]="product?.description" placement="auto">{{product?.description | productDescription}}</div>
            <div>
                <span>Quantity: </span>
                <span style="font-weight: 600;">{{product?.productQuantity | quantityPipe}}</span>
            </div>
            <div>
                <span>Price:</span>
                <span style="font-weight: 600;">
                    <img src="assets/images/rupee.png" width="20px" height="15px">{{product?.price}}</span>
            </div>
            <div>
                <span>Complementary: </span>
                <span>{{product?.addOn}}</span>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="product-button" *ngIf="availableForcart" (click)="addToCart(product)">Add to Cart</button>
        <button mat-raised-button color="primary" class="product-button" *ngIf="!availableForcart" (click)="removeFromCart(product)">Remove from Cart</button>
        <button mat-button color="primary" class="product-button product-view-details" (click)="viewDetails(product)">View Details</button>
    </mat-card-actions>
</mat-card>