@import "../../../variable";
@import "../../../mixin";

.example-card {
    height: auto;
}

.product-desc{
    height: auto;
    font-size: 12px;
}

.product-button{
    font-size: 12px;
}

.product-image{
    height: 150px !important;
}

.product-header{
    height:100px;
}

.material-icons {
    font-size: 20px !important;
    position: absolute;
    margin: 2px 0px 0px 5px;
}