<!--Example of TEMPLATE DRIVEN FORMs-->
<div class="modal-header">
    <span class="material-icons" style="color: deeppink;margin:7px; font-size: 28px;"> 
        password
    </span>
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="changePasswordForm" (keydown.enter)="changePassword(changePasswordForm)">
        <mat-form-field class="modal-form">
            <mat-label>{{appCacheService._content.newPassText}}</mat-label>
            <input matInput type="password" #pass name="newPassword" formControlName="newPassword">
            <button *ngIf="changePassForm.newPassword.value != ''" matSuffix mat-icon-button aria-label="Clear" (click)="commonService.clickDisabled($event)" (mouseenter)="showHidePassword();isVisibility = false;" (mouseleave)="showHidePassword();isVisibility = true;">
                <mat-icon *ngIf="isVisibility" style="color: deeppink">visibility</mat-icon>
                <mat-icon *ngIf="!isVisibility" style="color: deeppink">visibility_off</mat-icon>
            </button>
            <button matSuffix mat-icon-button aria-label="Clear" style="color: deeppink" tooltip="{{appCacheService._content.passwordTooltip}}" placement="auto" (click)="commonService.clickDisabled($event)">
                <mat-icon>info</mat-icon>
            </button>
            <button *ngIf="changePassForm.newPassword.value != ''" matSuffix mat-icon-button aria-label="Clear" (click)="setValue('newPassword')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="changePassForm.newPassword.errors?.required">{{errorMessages.passwordRequired}}</mat-error>
            <mat-error *ngIf="changePassForm.newPassword.errors?.passwordRequirement">{{errorMessages.passwordRequirement}}</mat-error>
        </mat-form-field>
        <mat-form-field class="modal-form">
            <mat-label>{{appCacheService._content.confirmPassword}}</mat-label>
            <input matInput type="password" name="confirmPassowrd" formControlName="confirmPassowrd">
            <button *ngIf="changePassForm.confirmPassowrd.value != ''" matSuffix mat-icon-button aria-label="Clear" (click)="setValue('confirmPassowrd')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="changePassForm.confirmPassowrd.errors?.required">{{errorMessages.confirmPasswordRequired}}</mat-error>
            <mat-error *ngIf="changePassForm.confirmPassowrd.errors?.noMatch">{{errorMessages.confirmPasswordNoMatch}}</mat-error>
        </mat-form-field>
    </form>
</div>
<div class="modal-footer">
    <div>
        <button mat-raised-button style="margin-right: 1rem" color="primary" (click)="changePassword(changePasswordForm)" [disabled]="changePasswordForm.invalid">{{appCacheService._content.changePassButton}}</button>
    </div>
    <div>
        <button mat-raised-button style="margin-right: 1rem" color="primary" (click)="bsModalRef.hide()">{{appCacheService._content.cancelButton}}</button>
    </div>
</div>
