<section [formGroup]="fGName">
    <select [formControlName]="properties?.name">
      <option value=''>{{properties.placeholder}}</option>
      <option *ngFor="let x of properties.options" [value]="x.key">
        {{x.value}}
      </option>
    </select>
    
    <div *ngIf="(mFormCntrl?.dirty || mFormCntrl?.touched) && mFormCntrl?.errors != null">
      <div class="" *ngFor="let item of mFormCntrl?.errors | keyvalue">
        <span style="color: red;font-size: 13px;">{{properties?.errorLabel[0] ? properties?.errorLabel[0][item.key] : ''}}</span>
      </div>
    </div>
</section>
<!-- this is the replicap of DAP-DROPDOWN component-->
