@import "../../../variable";

.template-form-login{
    width:100%;
}

@media screen and (max-width:767px) {
    .template-form-login{
        width:100%;
    }
}

.newAcc {
    text-decoration: underline;
    color: $pink;
    &:hover{
        color: $site-theme;
        cursor: pointer;
    }
}

.loginFailedMsgSec{
    font-size: 13px; 
    color: $red;
    word-break: break-all;
}