@import "../../../variable";

.template-form-login{
    width:70%;
}

@media screen and (max-width:767px) {
    .template-form-login{
        width:51%;
    }
}

.newAcc {
    text-decoration: underline;
    color: $pink;
    &:hover{
        color: $site-theme;
        cursor: pointer;
    }
}