<!--Example of TEMPLATE DRIVEN FORMs-->
<div class="modal-header">
    <span class="material-icons" style="color: deeppink;margin:7px; font-size: 28px;"> 
        person
    </span>
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="loginFailedStatus" class="modalFailedMsgSec mb-3">{{loginMsg}}</div>
    <div *ngIf="loginSuccessStatus" class="modalSuccessfulMsgSec mb-3">{{loginMsg}}</div>
    <form #loginForm="ngForm" (keydown.enter)="submitForm(loginForm)">
        <mat-form-field class="modal-form">
            <mat-label>Email Address</mat-label>
            <input matInput type="text" ngModel #mail="ngModel" name="emailAddress" [(ngModel)]="emailAddress" [required]=true pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <button *ngIf="emailAddress" matSuffix mat-icon-button aria-label="Clear" (click)="emailAddress=''">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="mail.touched && mail.invalid">Enter a valid email address</mat-error>
        </mat-form-field>
        <!--<button mat-raised-button *ngIf="phone.valid" style="margin-left: 2rem;" color="primary" (click)="getOtp(loginForm)">Get OTP</button>-->
        <mat-form-field class="modal-form">
            <mat-label>Password</mat-label>
            <input matInput type="password" ngModel #loginPass maxlength="10" minlength="6" name="password" #pass="ngModel" [(ngModel)]="password" [required]="true">
            <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="$event.preventDefault()" (mouseenter)="showHidePassword();isVisibility = false;" (mouseleave)="showHidePassword();isVisibility = true;">
                <mat-icon *ngIf="isVisibility" style="color: deeppink">visibility</mat-icon>
                <mat-icon *ngIf="!isVisibility" style="color: deeppink">visibility_off</mat-icon>
            </button>
            <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="pass.touched && pass.invalid">Enter a valid password</mat-error>
        </mat-form-field>
    </form>
    <div class="row m-0">
        <div class="newAcc mr-3 mt-2" (click)="signUpModal()">create new account</div>
        <div class="newAcc mr-3 mt-2" (click)="openForgotPassModal()">forgot password</div>
    </div>
</div>
<div class="modal-footer">
    <div>
        <button mat-raised-button style="margin-right: 1rem" color="primary" (click)="submitForm(loginForm)" [disabled]="loginForm.invalid">Continue</button>
        <button mat-raised-button (click)="resetForm(loginForm)" [disabled]="loginForm.untouched">Reset</button>
    </div>
</div>
