<!--html + css + bootstrap => CART -->
<!--without angular material & ngx-bootstrap -->
<div class="container">
    <div class="mt-5 mb-5 heading" style="text-align: center;"><h3>Your Cart</h3></div>
    <ng-container *ngIf="cartAvailable, else no_cart">
        <app-cart-overview [cartDetails]="cartDetails" [productDetails]="productDetails" (cartAddRemoveEvent)="showShortMsg($event)" (cartTotalEvent)="_cartTotalEvent($event)"></app-cart-overview>
        <div class="cartAmountSection row m-0 mb-2">
            <div class="cartReady p-2">
                Bill Details
            </div>
            <div class="cartValue col-md-6 col-xs-12 p-3">
                <div class="row m-0 cart-sub-parent">
                    <div class="cart-sub-details">Item Total</div>
                    <div class="cart-sub-details">{{cartObj.totalCartValue}}</div>
                </div>
                <div class="row m-0 cart-sub-parent">
                    <div class="cart-sub-details">Delivery Fee
                        <mat-icon tooltip="Delivery charges will be FREE above 500 INR order, else 50 INR is needed" placement="auto" style="font-size: 13px;">info</mat-icon>
                    </div>
                    <div class="cart-sub-details" [ngStyle]="{'color': cartObj.deliveryFree ? 'green' : 'inherit'}">{{cartObj.deliveryAmount}}</div>
                </div>
                <div class="row m-0 cart-sub-parent">
                    <div class="cart-sub-details">Govt Taxes & Packaging Charges</div>
                    <div class="cart-sub-details">{{cartObj.govtTaxPackage}}</div>
                </div>
                <div class="row m-0 cart-sub-parent" *ngIf="showAppDiscount">
                    <div class="cart-sub-details">Discounts
                        <mat-icon [tooltip]="showAppDiscountTooltip" placement="auto" style="font-size: 13px;">info</mat-icon>
                    </div>
                    <div class="cart-sub-details">{{cartObj.appDiscountAmount}}</div>
                </div>
                <hr style="border-top: 1.5px solid black;margin-bottom: 0px;">
                <div class="row m-0 cart-sub-parent mt-3">
                    <div class="cart-sub-details-bold">TO PAY</div>
                    <div class="cart-sub-details-bold">{{cartObj.finalPay}}</div>
                </div>
                <hr style="border-top: 1.5px solid black;margin-bottom: 0px;">
                <div class="mt-2">
                    <button mat-raised-button color="primary" class="product-button" (click)="goToPayment()">PAY</button>
                </div>
            </div>
            <div class="cartCoupon col-md-6 col-xs-12 p-3">
                <div style="font-size: 13px;">Apply from these <span couponPinkColor *ngIf="coupons && coupons.length > 0">COUPONS</span> to get more discounts</div>
                <mat-radio-group
                aria-labelledby="coupon-radio-group-label"
                class="coupon-radio-group"
                [(ngModel)]="selectedCoupon" *ngIf="coupons && coupons.length > 0">
                    <mat-radio-button (change)="applySiteCoupon($event.value)" [checked]="selectedCoupon == cou.couponCode" *ngFor="let cou of coupons" [value]="cou.couponCode">
                        <span style="white-space: normal;"><span couponPinkColor>{{cou.couponCode}}</span> - {{cou.couponDescription}}</span>
                    </mat-radio-button>
                </mat-radio-group>
                <div *ngIf="coupons && coupons.length == 0">No Coupon is avaiable right now.</div>
            </div>
        </div>
        <div #shortContainer></div>
    </ng-container>
    <ng-template #no_cart>
        <app-no-items></app-no-items>
    </ng-template>
</div>
