<div class="mt-3 mb-3">
    <div class="pagination p-2">
        <div class="col-3 pl-0">{{appCacheService._content.itemPerPageText}}:</div>
        <div class="col-5 pl-0">
            <mat-form-field appearance="fill" class="pagination-select">
                <mat-select [(ngModel)]="perPageSelection" (selectionChange)="perSelectionChange($event)" name="perPageSelection">
                <mat-option *ngFor="let page of perPageOptions" [value]="page">
                    {{page}}
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-4 pl-0">
            <span>Page <b>{{currentPage}}</b> of <b>{{totalNoOfPage}}</b></span>
        </div>
    </div>
    <div class="pagination p-2">
        <div class="col-12 p-0">
            <button class="admin-icons pagination-icon" mat-icon-button (click)="goToFirst()" [disabled]="paginationButton?.first" [ngClass]="{'pagination-icon-active': paginationButton.first == false}"> 
                <mat-icon style="margin-right:5px; font-size: 20px;">skip_previous</mat-icon>
            </button>
            <button class="admin-icons pagination-icon" [ngClass]="{'pagination-icon-active': paginationButton.previous == false}" mat-icon-button (click)="goToPrevious()" [disabled]="paginationButton?.previous"> 
                <mat-icon style="margin-right:5px; font-size: 20px;">navigate_before</mat-icon>
            </button>
            <button class="admin-icons pagination-icon" [ngClass]="{'pagination-icon-active': paginationButton.next == false}" mat-icon-button (click)="goToNext()" [disabled]="paginationButton?.next"> 
                <mat-icon style="margin-right:5px; font-size: 20px;">navigate_next</mat-icon>
            </button>
            <button class="admin-icons pagination-icon" [ngClass]="{'pagination-icon-active': paginationButton.last == false}" mat-icon-button (click)="goToLast()" [disabled]="paginationButton?.last"> 
                <mat-icon style="margin-right:5px; font-size: 20px;">skip_next</mat-icon>
            </button>
        </div>
    </div>
</div>
