<div class="admin-table-section" *ngIf="_adminTableDataSet.length > 0; else no_data_to_display">
    <table class="mt-2 admin-block-table">
        <thead>
            <tr>
                <th *ngFor="let header of adminHeader; let i = index;" style="cursor: pointer;" (click)="toggleSort(i)">
                    {{header}} 
                    <mat-icon *ngIf="i<2" style="color: deeppink;font-size: 12px" [tooltip]="staticMsg.admin_table_header_sort_tooltip" placement="auto" (click)="commonService.clickDisabled($event)">info</mat-icon>
                </th>
            </tr>
        </thead>
        <tr *ngFor="let each of _adminTableDataSet; let i = index;">
            <td>
                {{each[adminFirstColumnVariable]}}
            </td>
            <td>
                {{each[adminSecondColumnVariable]}}
            </td>
            <td>
                <span class="material-icons admin-icons" style="color: deeppink;margin:7px; font-size: 20px;" (click)="deleteItem(each)"> 
                    delete
                </span>
                <span class="material-icons admin-icons" style="color: deeppink;margin:7px; font-size: 20px;" (click)="editItem(each)"> 
                    edit
                </span>
            </td>
        </tr>
    </table>
</div>
<ng-template #no_data_to_display>
    <div *ngIf="_filterDataText != ''">
        <span style="font-size: 14px;color: red">No result found for "{{filterDataText}}"</span>
    </div>
    <div *ngIf="_filterDataText == ''">
        <span style="font-size: 14px;color:red">Please add data for this section</span>
    </div>
</ng-template>
