<!--Example of TEMPLATE DRIVEN FORMs-->
<div class="modal-header">
    <span class="material-icons" style="color: deeppink;margin:7px; font-size: 28px;"> 
        lock_reset
    </span>
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="forgotFailedStatus" class="modalFailedMsgSec mb-3">{{forgotMsg}}</div>
    <div *ngIf="forgotSuccessStatus" class="modalSuccessfulMsgSec mb-3">{{forgotMsg}}</div>
    <form #forgotPassForm="ngForm" (keydown.enter)="forgotSendLink(forgotPassForm)">
        <mat-form-field class="modal-form">
            <mat-label>Email Address</mat-label>
            <input matInput type="text" ngModel #forgotMail="ngModel" name="forgotEmailAdd" [(ngModel)]="forgotEmailAdd" [required]=true [disabled]="resetLinkSendStatus" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <button *ngIf="forgotEmailAdd" matSuffix mat-icon-button aria-label="Clear" (click)="forgotEmailAdd=''">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="forgotMail.touched && forgotMail.invalid">Enter a valid email address</mat-error>
        </mat-form-field>
    </form>
    <div class="row m-0">
        <div class="newAcc mr-3 mt-2" (click)="backToLogin()">back to login</div>
    </div>
</div>
<div class="modal-footer">
    <div *ngIf="!resetLinkSendStatus">
        <button mat-raised-button style="margin-right: 1rem" color="primary" (click)="forgotSendLink(forgotPassForm)" [disabled]="forgotPassForm.invalid">Send Reset Link To Email</button>
    </div>
    <div *ngIf="resetLinkSendStatus">
        <button mat-raised-button style="margin-right: 1rem" color="primary" (click)="bsModalRef.hide()">OK</button>
    </div>
</div>

