<ng-container *ngFor="let order of orders; let i = index">
    <div class="mb-3">
        <div class="order-overview p-2 m-0">
            <div class="order-cart-overview">
                <div class="mb-3 mr-3" *ngFor="let cart of order.cartDetails; let j = index;">
                    <img src="{{cart?.id | cartImage : productDetails}}" class="cart-image" alt="{{cart?.id | cartImageAlt : productDetails}}" tooltip="click to go back to dish details page" placement="auto">
                    <div style="text-align: center;">
                        <span class="cartPrice" tooltip="click to go back to dish details page" placement="auto">{{cart?.id | cartName : productDetails}}</span>
                    </div>
                    <div style="text-align: center;">
                        <span class="orderSecondaryDesc">Quantity: {{cart?.quantity}}</span>
                    </div>
                </div>
            </div>
            <div class="order-cart-price-delivery-overview mt-2">
                <div class="order-cart-price mb-3">
                    <div style="text-decoration: underline; color: deeppink; font-weight: 600; font-size: 14px; margin-bottom: 5px;">Amount Section</div>
                    <div class="orderSecondaryDesc">Total Cart Value: {{order?.cartPrice?.totalCartValue}}</div>
                    <div class="orderSecondaryDesc">Delivery Charge: {{order?.cartPrice?.deliveryAmount}}</div>
                    <div class="orderSecondaryDesc">Govt. Taxes & Packaging Charges: {{order?.cartPrice?.govtTaxPackage}}</div>
                    <div class="orderSecondaryDesc">Order Mode: {{order?.paymentsection}}</div>
                    <div class="orderSecondaryDesc" style="font-size: 18px;color: #3f51b5;">Final Pay: {{order?.cartPrice?.finalPay}}</div>
                </div>
                <div class="order-cart-price mb-3">
                    <div style="text-decoration: underline; color: deeppink; font-weight: 600; font-size: 14px; margin-bottom: 5px;">Time Section</div>
                    <div class="orderSecondaryDesc">Order Time: {{order?.orderTime}}</div>
                    <div class="orderSecondaryDesc">Delivery Time: {{order?.deliveryTime}}</div>
                </div>
                <div class="order-cart-delivery mb-3">
                    <div style="text-decoration: underline; color: deeppink; font-size: 14px; font-weight: 600; margin-bottom: 5px;">Delivery Address Section</div>
                    <div class="orderSecondaryDesc">{{order?.deliveryAddress?.street}}</div>
                    <div class="orderSecondaryDesc">{{order?.deliveryAddress?.city}} - {{order?.deliveryAddress?.pincode}}</div>
                    <div class="orderSecondaryDesc">{{order?.deliveryAddress?.state}}</div>
                </div>
            </div>
            <div class="order-status-overview mt-2">
                <div style="text-decoration: underline; color: deeppink; font-size: 14px; font-weight: 600; margin-bottom: 5px;">
                    Order Delivery Status
                    <span class="material-icons" *ngIf="editMode" style="color:white;margin:2px; font-size: 20px;background-color: #3f51b5;border-radius: 50%;padding: 2px;cursor: pointer;" (click)="editOrder(order)"> 
                        edit
                    </span>
                </div>
                <mat-progress-bar
                    class="mb-1 mt-3"
                    [color]="order?.orderStatus == 'ordered' ? 'warn' : order?.orderStatus == 'intrans' ? 'accent' : 'primary'"
                    mode="determinate"
                    [value]="order?.orderStatus == 'ordered' ? 33 : order?.orderStatus == 'intrans' ? 66 : 100">
                </mat-progress-bar>
                <div class="row mb-3">
                    <div class="col-4 order-progressbar-status" *ngIf="order?.orderStatus == 'ordered'">
                        Ordered
                    </div>
                    <div class="col-8 order-progressbar-status" *ngIf="order?.orderStatus == 'intrans'">
                        In-Transit
                    </div>
                    <div class="col-12 order-progressbar-status" *ngIf="order?.orderStatus == 'delivered'">
                        Delivered
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
