@import "../../../variable";
@import "../../../mixin";

.order-overview{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(116 114 114), 0 6px 20px 0 rgb(0 0 0 /19%); 
}

.order-cart-overview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    border-bottom: 2px dashed gray; 
    width: 100%;
}

.order-cart-price-delivery-overview{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 2px dashed gray; 
    width: 100%;
}

.cartPrice{
    font-size: 13px;
    font-weight: 500;
    &:hover{
        text-decoration: underline;
        color: $pink;
        cursor: pointer;
    }
}

.orderSecondaryDesc{
    font-size: 13px;
    font-weight: 500;
}

.cart-image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left:5px;
    border: 2px solid $pink;
}

.order-progressbar-status{
    text-align: center;
    font-size: 13px;
    font-weight: 600;
}

@media screen and (max-width: 767px){
    .order-cart-price-delivery-overview{
        flex-direction: column;
    }
}
