@import "../../variable";
@import '../../mixin';

.activeAdminSection{
    font-weight: bold;
    font-size: 1.30rem;
    text-decoration: underline !important;
}

.adminNavBar{
    background-color: $pink;
    border-radius: 5px;
}

a{
    color: $white !important;
    cursor: pointer;
    &:hover{
        font-weight: bold;
    }
}