<!--Admin Login Portal-->
<div class="container">
    <div>
        <nav class="navbar adminNavBar">
            <a class="nav-link" routerLink="/layout/admin/dashboard" routerLinkActive="activeAdminSection">Dashboard</a>
            <a class="nav-link" routerLink="/layout/admin/dishes" routerLinkActive="activeAdminSection">Dishes</a>
            <a class="nav-link" routerLink="/layout/admin/orders" routerLinkActive="activeAdminSection">Orders</a>
            <a class="nav-link" routerLink="/layout/admin/offers" routerLinkActive="activeAdminSection">Offers</a>
            <a class="nav-link" routerLink="/layout/admin/branches" routerLinkActive="activeAdminSection">Branches</a>
            <a class="nav-link" routerLink="/layout/admin/coupons" routerLinkActive="activeAdminSection">Coupons</a>
            <a class="nav-link" routerLink="/layout/admin/slides" routerLinkActive="activeAdminSection">Slides</a>
        </nav>
    </div>
    <router-outlet></router-outlet>
</div>

