<!--Admin Login Portal-->
<div class="container">
    <div>
        <nav class="navbar navbar-expand-lg adminNavBar">
            <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="activeAdminSection">Dashboard</a>
            <a class="nav-link" routerLink="/admin/dishes" routerLinkActive="activeAdminSection">Dishes</a>
            <a class="nav-link" routerLink="/admin/offers" routerLinkActive="activeAdminSection">Offers</a>
            <a class="nav-link" routerLink="/admin/branches" routerLinkActive="activeAdminSection">Branches</a>
            <a class="nav-link" routerLink="/admin/coupons" routerLinkActive="activeAdminSection">Coupons</a>
            <a class="nav-link" routerLink="/admin/slides" routerLinkActive="activeAdminSection">Slides</a>
        </nav>
    </div>
    <router-outlet></router-outlet>
</div>

