<div class="container">
    <div class="mt-5 mb-5 heading" style="text-align: center;" id="top"><h3>{{appCacheService._content.adminOfferHeading}}</h3></div>
    <div class="admin-block">
        <div style="text-align: center;font-size: 20px; color: #3f51b5; font-weight: 600;">{{appCacheService._content.adminManageProductText}}</div>
        <hr style="border-top: 1.5px solid #23222221;">
        <div class="admin-block-sections">
            <div class="col-md-5 col-xs-12 mt-2 mb-3">
                <div class="mb-2" style="font-size: 16px; color: #3f51b5; font-weight: 600;">{{appCacheService._content.adminOfferUpdateText}}</div>
                <form #offerForm="ngForm" style="display: grid;font-size: 12px;" (keydown.enter)="offersFormSubmit(offerForm)">
                    <!--offer code-->
                    <mat-form-field class="mb-2">
                        <mat-label>{{appCacheService._content.adminOfferCodeText}}</mat-label>
                        <input matInput type="text" maxlength="10" ngModel #code="ngModel" name="offerCode" [required]=true [(ngModel)]="offerCode" (input)="this.offerCode = this.offerCode.toUpperCase()">
                        <button matSuffix mat-icon-button aria-label="Clear" style="color: deeppink;" tooltip="{{appCacheService._content.adminOfferCodeTooltip}}" placement="auto" (click)="commonService.clickDisabled($event)">
                            <mat-icon>info</mat-icon>
                        </button>
                        <button *ngIf="offerCode" matSuffix mat-icon-button aria-label="Clear" (click)="offerCode = ''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="code.touched && code.invalid">{{errorMessages.adminOfferCodeRequired}}</mat-error>
                    </mat-form-field>
                    <!--minimum order-->
                    <!--using onlyNumber diretive => no need to use pattern -->
                    <mat-form-field class="mb-2">
                        <mat-label>{{appCacheService._content.adminOfferMinText}}</mat-label>
                        <input matInput type="text" ngModel #minimumOrder="ngModel" maxlength="4" minlength="1" name="minimumOrderValue" [(ngModel)]="minimumOrderValue" onlyNumber [required]="true">
                        <button matSuffix mat-icon-button aria-label="Clear" style="color: deeppink;" tooltip="{{appCacheService._content.adminOfferMinTooltip}}" placement="auto" (click)="commonService.clickDisabled($event)">
                            <mat-icon>info</mat-icon>
                        </button>
                        <button *ngIf="minimumOrderValue" matSuffix mat-icon-button aria-label="Clear" (click)="minimumOrderValue = null">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="minimumOrder.touched && minimumOrder.invalid">{{errorMessages.adminOfferMinRequired}}</mat-error>
                    </mat-form-field>
                    <!--section & sub-section-->
                    <div style="font-weight: 600;">{{appCacheService._content.adminOfferSecText}} 
                        <mat-icon style="color: deeppink;font-size: 12px;cursor: pointer;" tooltip="{{appCacheService._content.adminOfferSecTooltip}}" placement="auto" (click)="commonService.clickDisabled($event)">info</mat-icon>
                    </div>
                    <mat-radio-group
                    aria-labelledby="dish-origin-radio-group-label"
                    class="admin-radio-group"
                    [(ngModel)]="offerSection" name="offerSection" [required]=true  ngModel #section="ngModel">
                        <mat-radio-button class="admin-radio-button" value="bank">
                        <span style="white-space: normal;">{{appCacheService._content.adminOfferSecBank}}</span>
                        </mat-radio-button>
                        <mat-radio-button class="admin-radio-button" value="wallet">
                        <span style="white-space: normal;">{{appCacheService._content.adminOfferSecWallet}}</span>
                        </mat-radio-button>
                        <p *ngIf="section.touched && section.invalid">{{errorMessages.adminOfferSecRequired}}</p>
                    </mat-radio-group>
                    <div *ngIf="offerSection == 'bank'">
                        <div style="font-weight: 600;">{{appCacheService._content.adminOfferSubSecText}}
                            <mat-icon style="color: deeppink;font-size: 12px;cursor: pointer;" tooltip="{{appCacheService._content.adminOfferSubSecTooltip}}" placement="auto" (click)="commonService.clickDisabled($event)">info</mat-icon>
                        </div>
                        <mat-checkbox class="mr-2" *ngFor="let item of offerSubSection; let j = index;" [(ngModel)]="item.subSectionValue" [checked]="item.subSectionValue" [name]="item.subSectionText">
                            {{item.subSectionText}}
                        </mat-checkbox>
                    </div>
                    <!--Offered By-->
                    <mat-form-field class="mb-2">
                        <mat-label>{{appCacheService._content.adminOfferOfferByText}}</mat-label>
                        <input matInput type="text" ngModel #offerBy="ngModel" maxlength="60" name="offeredBy" [required]=true [(ngModel)]="offeredBy">
                        <button matSuffix mat-icon-button aria-label="Clear" style="color: deeppink;" tooltip="{{appCacheService._content.adminOfferOfferByTooltip}}" placement="auto" (click)="commonService.clickDisabled($event)">
                            <mat-icon>info</mat-icon>
                        </button>
                        <button *ngIf="offeredBy" matSuffix mat-icon-button aria-label="Clear" (click)="offeredBy = ''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="offerBy.touched && offerBy.invalid">{{errorMessages.adminOfferByRequired}}</mat-error>
                    </mat-form-field>
                    <!--Discount amount-->
                    <mat-form-field class="mb-2">
                        <mat-label>{{appCacheService._content.adminOfferDisText}}</mat-label>
                        <input matInput type="text" ngModel #dis="ngModel" maxlength="60" name="discount" [required]=true [(ngModel)]="discount" onlyNumber>
                        <button matSuffix mat-icon-button aria-label="Clear" style="color: deeppink;" tooltip="{{appCacheService._content.adminOfferDisTooltip}}" placement="auto" (click)="commonService.clickDisabled($event)">
                            <mat-icon>info</mat-icon>
                        </button>
                        <button *ngIf="discount" matSuffix mat-icon-button aria-label="Clear" (click)="discount = null">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="dis.touched && dis.invalid">{{errorMessages.adminOfferDisRequired}}</mat-error>
                    </mat-form-field>
                </form>
                <div class="admin-block-button-section">
                    <button mat-raised-button style="margin-right: 1rem" color="primary" (click)="offersFormSubmit(offerForm)" [disabled]="checkFormStatus()">{{buttonText}}</button>
                    <button *ngIf="editMode" mat-raised-button style="margin-right: 1rem" (click)="editMode = false;offerForm.resetForm();buttonText = 'Continue';selectedID=''">{{appCacheService._content.cancelButton}}</button>
                    <button mat-raised-button (click)="offersFormReset(offerForm)" [disabled]="offerForm.untouched">{{appCacheService._content.resetButton}}</button>
                </div>
            </div>
            <div class="col-md-7 col-xs-12 mt-2 mb-3 admin-block-border">
                <div class="mb-2" style="font-size: 16px; color: #3f51b5; font-weight: 600;">{{appCacheService._content.adminOfferAvlOfferText}}</div>
                <app-search *ngIf="offers" (searchTextEvent)="_searchTextEvent($event)"></app-search>
                <app-admin-table *ngIf="offers" [filterDataText]="filterText" [adminHeader]="offersHeader" [adminTableDataSet]="paginationOffer" adminFirstColumnVariable="offerCode" adminSecondColumnVariable="offeredBy" (deleteClickedEvent)="deleteOffer($event)" (editClickedEvent)="editOffer($event)" (tableSortEvent)="_tableSortEvent($event)"></app-admin-table>
                <app-pagination *ngIf="paginationOffer.length > 0" [currentDataSet]="filterOffers" (perPageSelectionChangedEvent)="_perPageSelectionChanged($event)" (paginationButtonChangedEvent)="_paginationButtonChangedEvent($event)"></app-pagination>
            </div>
        </div>
    </div>
    <div #shortContainer></div>
</div>
