<ng-container *ngFor="let cart of cartDetails; let i = index">
    <div class="mb-3">
        <div class="cart-overview row p-2 m-0">
            <div class="col-md-2 col-3 p-0">
                <img src="{{cart?.id | cartImage : productDetails}}" (click)="goToDishPage(cart.id)" class="cart-image" alt="{{cart?.id | cartImageAlt : productDetails}}" tooltip="{{appCacheService._content.backToDishTooltip}}" placement="auto">
            </div>
            <div class="cart-value col-md-7 col-9">
                <div>
                    <span (click)="goToDishPage(cart.id)" class="cartDidhHeading" tooltip="{{appCacheService._content.backToDishTooltip}}" placement="auto"><b style="font-size: 20px;">{{cart?.id | cartName : productDetails}}</b></span><!--name-->
                </div>
                <div class="cart-secondary-font mb-1" >
                    <span>{{cart?.id | cartDescription : productDetails}}</span><!--description-->
                </div>
                <div class="cart-origin-quantity cart-secondary-font mb-1">
                    <div>{{cart?.id | cartOrigin : productDetails}}/</div><!--origin-->
                    <div>{{appCacheService._content.quantityText}}: {{cart?.id | cartProductQuantity : productDetails}}</div><!--product quantity-->
                </div>
                <div class="cart-secondary-font mb-1" style="font-family: inherit !important;">
                    <section class="cart-extra-section">
                        <mat-checkbox class="cart-extra-margin" *ngFor="let item of cart.addOn; let j = index;" [(ngModel)]="item.value" (change)="addExtraCheckbox(cart)">{{item.name}} <span><img src="assets/images/rupee.png" width="20px" height="15px"></span><b>{{item.extraPrice}}</b></mat-checkbox>
                    </section>
                    <div class="cart-secondary-font" *ngFor="let item of cart.addOn; let i = index;">
                        <span>*{{item.name}} will cost you </span>
                        <span><img src="assets/images/rupee.png" width="13px" height="13px"><b>{{item.extraPrice}}.</b></span>
                    </div>
                </div>
                <div>
                    <span><img src="assets/images/rupee.png" width="14px" height="15px"><span><b>{{cart?.tprice}} </b><span class="cart-secondary-font">({{appCacheService._content.eachItemCostText}}<img src="assets/images/rupee.png" width="14px" height="15px">{{cart?.id | cartItemOriginalPrice : productDetails}})</span></span></span>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 cart-button-section">      
                <mat-card-actions class="offer-button-class">
                    <span class="material-icons" style="color: #3f51b5;margin:7px" (click)="removeItem(cart)"> 
                        do_not_disturb_on
                    </span>
                    <span style="font-size: 18px;color: #555353; position: relative; top: -5px;">{{cart?.quantity}}</span>
                    <span class="material-icons" style="color: #3f51b5;margin:7px" (click)="addItem(cart)"> 
                        add_circle
                    </span>
                </mat-card-actions>
                <mat-card-actions>
                    <span class="material-icons" style="color: #3f51b5;margin:7px" (click)="delteDish(cart)"> 
                        delete
                    </span>
                </mat-card-actions>
            </div>
        </div>
    </div>
</ng-container>
