<ng-container *ngFor="let cart of cartDetails; let i = index">
    <div class="mb-3">
        <div class="cart-overview row p-2 m-0">
            <div class="col-md-2 col-3 p-0">
                <img src="{{cart?.itemId | cartImage : productDetails}}" class="cart-image" alt="{{cart?.itemId | cartImageAlt : productDetails}}">
            </div>
            <div class="cart-value col-md-7 col-9">
                <div>
                    <b style="font-size: 20px;">{{cart?.itemId | cartName : productDetails}}</b><!--name-->
                </div>
                <div class="cart-secondary-font mb-1">
                    {{cart?.itemId | cartDescription : productDetails}}<!--description-->
                </div>
                <div class="cart-origin-quantity cart-secondary-font mb-1">
                    <div>{{cart?.itemId | cartOrigin : productDetails}}/</div><!--origin-->
                    <div>Qty: {{cart?.itemId | cartProductQuantity : productDetails}}</div><!--product quantity-->
                </div>
                <div class="cart-secondary-font mb-1" style="font-family: inherit !important;">
                    <section class="cart-extra-section">
                        <mat-checkbox class="cart-extra-margin" *ngFor="let item of cart.addOn; let i = index;" [(ngModel)]="item.value">{{item.name}} <span><img src="assets/images/rupee.png" width="20px" height="15px"></span><b>{{item.extraPrice}}</b></mat-checkbox>
                    </section>
                    <div class="cart-secondary-font" *ngFor="let item of cart.addOn; let i = index;">
                        <span>*{{item.name}} will cost you </span>
                        <span><img src="assets/images/rupee.png" width="13px" height="13px"><b>{{item.extraPrice}}.</b></span>
                    </div>
                </div>
                <div>
                    <span><img src="assets/images/rupee.png" width="14px" height="15px"><span><b>{{cart?.tprice}} </b><span class="cart-secondary-font">(Each Item Cost - <img src="assets/images/rupee.png" width="14px" height="15px">{{cart?.itemId | cartItemOriginalPrice : productDetails}})</span></span></span>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 cart-button-section">      
                <mat-card-actions class="offer-button-class">
                    <span class="material-icons" style="color: #3f51b5;margin:7px" (click)="addItem(cart.itemId,i)"> 
                        add_circle
                    </span>
                    <span style="font-size: 18px;color: #555353; position: relative; top: -5px;">{{cart?.quantity}}</span>
                    <span class="material-icons" style="color: #3f51b5;margin:7px" (click)="removeItem(cart.itemId,i)"> 
                        do_not_disturb_on
                    </span>
                </mat-card-actions>
                <mat-card-actions>
                    <span class="material-icons" style="color: #3f51b5;margin:7px"> 
                        delete
                    </span>
                </mat-card-actions>
            </div>
        </div>
    </div>
</ng-container>
