@import "../../../variable";
@import "../../../mixin";

.cart-overview{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(116 114 114), 0 6px 20px 0 rgb(0 0 0 /19%); 
}

.cart-value{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-image{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.cart-secondary-font{
    font-size: 12px;
    color: $special-secondary;
}

.cart-origin-quantity{
    display: flex;
    font-size: 12px;
    font-weight: 600;
}

.cart-extra-margin{
    margin-right: 1rem;
}

.mat-checkbox {
    font-family: inherit !important;
}

.cart-button-section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 767px){
    .cart-button-section{
        background-color: #ece8e8d9;
        margin-top: 10px;
        border-radius: 5px;
    }
}

.material-icons{
    cursor: pointer;
}

.offer-button-class{
    margin-right: 10px;
}