<div class="branch-parent">
    <img src="assets/images/{{branch.locationImage}}" alt="{{branch?.locationImage}}" width="100%" height="300">
    <div class="branch-centre">{{branch?.branchLocation}}</div>
    <div class="branch-phone" (click)="openCallDialog(branch)">
        <span class="material-icons">
            call
        </span>
    </div>
    <div class="branch-location-map" (click)="openLocationMapDialog(branch)">
        <span class="material-icons">
            place
        </span>
    </div>
</div>

