@import "../../../variable";
@import "../../../mixin";

.branch-parent {
  position: relative;
  cursor: pointer;
  transition: all 2s ease-in-out;
  display: block;

  &:hover {
    //animation: branchShake 2s linear infinite;
    transform: scale(1.1);
  }

  &:hover .branch-phone {
    visibility: visible;
    transition: all 1s ease-in;
  }

  &:hover .branch-location-map{
    visibility: visible;
    transition: all 1s ease-in;
  }

  img{
    border-radius: 5px;
  }
}

@keyframes branchShake {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

.branch-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //display: flex;
  //justify-content: center;
  //align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: $pink;
  background: $white;
  border-radius: 10px;
}

.branch-phone{
  visibility: hidden;
  position: absolute;
  bottom: 3%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: $black;
  width: 35px;
  height: 35px;
  background-color: $red;
  border-radius: 0px 22px 22px 22px;
}

.branch-location-map {
  visibility: hidden;
  position: absolute;
  bottom: 3%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: $black;
  width: 35px;
  height: 35px;
  background-color: $red;
  border-radius: 0px 22px 22px 22px;
}

img {
  opacity: 1;
}