@import "../../../variable";

.offer-section-image {
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px 0 rgb(0 0 0), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 10px;
    &:hover .show-offer{
        visibility: visible;
        transition: all 2s ease-in;
    }
    img{
        border-radius: 10px;
        transition: all 0.6s ease-out;
    }   
}

.offer-section-image-fade img {
    transition: all 0.6s ease-out;
    opacity: 0.1;
}

.offer-section {
    position: absolute;
    top: 0%;
    padding: 15px;
    font-size: 14px;
    height:300px;
    overflow: auto;
}

@media screen and (max-width: 767px){
    .offer-section{
        font-size: 14px;
    }
}

.show-offer {
    position: absolute;
    visibility: hidden;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: bold;
    color: $black;
    background-color: $red;
    border-radius: 5px;
    padding: 5px;
}

.offer-button-class{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}