<div class="offer-section">
    <div class="offer-heading">
        <span>{{offer?.offeredBy}}</span>
    </div>
    <div class="offer-details">
        <div>
            <span><b>Offer-Section: </b></span>
            <span>Nothing</span>
        </div>
        <div>
            <span><b>Discounts: </b></span>
            <span>{{offer?.discount}}</span>
        </div>
        <div>
            <span><b>Minimum Cart Value: </b></span>
            <span>{{offer?.minimumOrderValue}}</span>
        </div>
        <div>
            <span><b>Discount Code: </b></span>
            <span>{{offer?.offerCode}}</span>
        </div>
    </div>
    <mat-card-actions class="offer-button-class" *ngIf="appCacheService._loggedInUser">
        <button mat-raised-button color="primary" class="mr-3" (click)="appliedOffer(offer)" [disabled]="checkCartReq(cartValue, offer.minimumOrderValue)">Apply</button>
    </mat-card-actions>
</div>



