<div class="container">
    <div class="mt-5 mb-5 heading" style="text-align: center;" id="top"><h3>Order Dashboard</h3></div>
    <div class="admin-block">
        <hr style="border-top: 1.5px solid #23222221;">
        <div class="admin-block-sections row">
            <div class="col-12 mt-2 mb-3">
                <div class="mb-2" style="font-size: 16px; color: #3f51b5; font-weight: 600;text-align: center;">Order Analysis</div>
                <div>
                    <table class="mt-2 admin-block-table">
                        <thead>
                            <tr>
                                <th *ngFor="let header of adminDashboardHeader; let i = index;">
                                    {{header}} 
                                </th>
                            </tr>
                        </thead>
                        <tr>
                            <td>
                                {{ordersCount.totalNoOfOrders}}
                            </td>
                            <td>
                                {{ordersCount.avgDishPerOrder}}
                            </td>
                            <td>
                                {{ordersCount.avgPricePerOrder}}
                            </td>
                            <td>
                                {{ordersCount.maxUsedPaymentOption}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-12 mt-2 mb-3" >
                <div class="mb-2" style="font-size: 16px; color: #3f51b5; font-weight: 600;text-align: center;">Item Analysis</div>
                <div class="row">
                    <div style="display: flex;justify-content: center;align-items: center;" class="col-md-7 col-12 pb-2">
                        <canvas #itemChart width="auto" height="auto"></canvas>
                    </div>
                    <div class="col-md-5 col-12 admin-block-border" *ngIf="itemAnalysisAvailable">
                        <table class="mt-2 admin-block-table">
                            <tr *ngFor="let each of adminItemAnalysisHeader; let i = index;">
                                <td>
                                    <span style="font-weight: 600;">{{each}}</span>
                                </td>
                                <td *ngIf="each == 'Maximum Ordered Item'">
                                    {{itemAnalysisData[itemAnalysisData.length-1].name}}
                                </td>
                                <td *ngIf="each == 'Maximum Ordered Item Quantity'">
                                    {{itemAnalysisData[itemAnalysisData.length-1].quantity}}
                                </td>
                                <td *ngIf="each == 'Minimum Ordered Item'">
                                    {{itemAnalysisData[0].name}}
                                </td>
                                <td *ngIf="each == 'Minimum Ordered Item Quantity'">
                                    {{itemAnalysisData[0].quantity}}
                                </td>
                                <td *ngIf="each == 'Top Veg Item'">
                                    {{itemAnalysisVegData[0].name}}
                                </td>
                                <td *ngIf="each == 'Top Non-veg Item'">
                                    {{itemAnalysisNonVegData[0].name}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div #shortContainer></div>
</div>
