<!--Example of REACTIVE FORMS-->
<!--NGSWITCH example-->
<div class="modal-header">
    <span class="material-icons" style="color: deeppink;margin:7px; font-size: 28px;"> 
        settings_accessibility
    </span>
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="signUpFailedStatus" class="modalFailedMsgSec mb-3">{{SignUpMsg}}</div>
    <div *ngIf="signUpSuccessStatus" class="modalSuccessfulMsgSec mb-3">{{SignUpMsg}}</div>
    <form [formGroup]="signUpForm" (keydown.enter)="signUpFormClicked(signUpForm)">
        <!--<mat-form-field class="reactive-form-login">
            <mat-label>Phone Number</mat-label>
            <input matInput type="text" name="phoneNumber" maxlength="10" minlength="10" formControlName="phoneNumber">
            <button *ngIf="signUpForm.get('phoneNumber')?.value != '' && signUpForm.get('phoneNumber')?.value != null" matSuffix mat-icon-button aria-label="Clear" (click)="setValue('phoneNumber')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="signUpForm.get('phoneNumber')?.invalid && signUpForm.get('phoneNumber')?.touched">Phone number is required</mat-error>
        </mat-form-field>-->
        <!--<mat-form-field class="reactive-form-login">
            <mat-label>Name</mat-label>
            <input matInput type="text" name="name" formControlName="name" maxlength="40">
            <button matSuffix mat-icon-button aria-label="Clear" tooltip="Name can be valid upto 40 characters" placement="auto" containerClass="customClass" (click)="clickDisabled($event)">
                <mat-icon>info</mat-icon>
            </button>
            <button *ngIf="signUpForm.get('name')?.value != '' && signUpForm.get('name')?.value != null" matSuffix mat-icon-button aria-label="Clear" (click)="setValue('name')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched">Name is required</mat-error>
        </mat-form-field>-->
        <mat-form-field class="modal-form">
            <mat-label>Email</mat-label>
            <input matInput type="text" name="email" formControlName="email">
            <button *ngIf="signUpForm.get('email')?.value != '' && signUpForm.get('email')?.value != null" matSuffix mat-icon-button aria-label="Clear" (click)="setValue('email')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">Proper email address is required</mat-error>
        </mat-form-field>
        <mat-form-field class="modal-form" [ngClass]="{'mb-4': signUpForm.get('password')?.errors?.emailRequirement}">
            <mat-label>Password</mat-label>
            <input matInput type="password" #pass name="password" formControlName="password">
            <button *ngIf="signUpForm.get('password')?.value != '' && signUpForm.get('password')?.value != null" matSuffix mat-icon-button aria-label="Clear" (click)="commonService.clickDisabled($event)" (mouseenter)="showHidePassword();isVisibility = false;" (mouseleave)="showHidePassword();isVisibility = true;">
                <mat-icon *ngIf="isVisibility" style="color: deeppink">visibility</mat-icon>
                <mat-icon *ngIf="!isVisibility" style="color: deeppink">visibility_off</mat-icon>
            </button>
            <button matSuffix mat-icon-button aria-label="Clear" style="color: deeppink" tooltip="Password must have one capital, one number, one special charactaer with 6-10 characters" placement="auto" (click)="commonService.clickDisabled($event)">
                <mat-icon>info</mat-icon>
            </button>
            <button *ngIf="signUpForm.get('password')?.value != '' && signUpForm.get('password')?.value != null" matSuffix mat-icon-button aria-label="Clear" (click)="setValue('password')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="signUpForm.get('password')?.errors?.required && signUpForm.get('password')?.touched">Password is required</mat-error>
            <mat-error *ngIf="signUpForm.get('password')?.errors?.emailRequirement">Enter 6-10 characters password with one capital, one number and one special character</mat-error>
        </mat-form-field>
        <mat-form-field class="modal-form">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" name="confirmPassword" formControlName="confirmPassword">
            <button *ngIf="signUpForm.get('confirmPassword')?.value != '' && signUpForm.get('confirmPassword')?.value != null" matSuffix mat-icon-button aria-label="Clear" (click)="setValue('confirmPassword')">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="signUpForm.get('confirmPassword')?.errors?.required && signUpForm.get('confirmPassword')?.touched">Confirm password is required</mat-error>
            <mat-error *ngIf="signUpForm.get('confirmPassword')?.errors?.noMatch && signUpForm.get('confirmPassword')?.touched">Passwords don't match, please check again</mat-error>
        </mat-form-field>
    </form>
</div>
<div class="modal-footer">
    <button mat-raised-button style="margin-right: 1rem" color="primary" [disabled]="signUpForm.invalid" (click)="signUpFormClicked(signUpForm)">Sign Up</button>
    <button mat-raised-button [disabled]="signUpForm.untouched" (click)="signUpFormReset()">Reset</button>
    <p style="font-size: 10.5px;color: deeppink">By creating an account, I accept the Terms & Conditions & Privacy Policy</p>
</div>
