@import "../../../variable";

.reactive-form-login {
    width: 100%;
}

@media screen and (max-width:767px) {
    .reactive-form-login {
        width: 100%;
    }
}

.customClass .tooltip-inner {
    background-color: green !important;
}

.signUpFailedMsgSec{
    font-size: 13px; 
    color: $red;
    word-break: break-all;
}

.signUpSuccessfulMsgSec{
    font-size: 13px; 
    color: $green;
    word-break: break-all;
}