<div class="modal-header">
    <span class="material-icons" style="color: deeppink;margin:7px; font-size: 28px;"> 
        kebab_dining
    </span>
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <section class="cart-extra-section">
        <mat-checkbox class="cart-extra-sub" *ngFor="let item of extraItem; let i = index;" [(ngModel)]="item.value" (change)="addItemCheckbox(extraItem)">{{item.name}} <span><img src="assets/images/rupee.png" width="20px" height="15px"></span><b>{{item.extraPrice}}</b></mat-checkbox>
    </section>
</div>
<div class="modal-footer">
    <!--angular material button used inside ngx-bootstrap-->
    <div class="mr-3">Total: <span><img src="assets/images/rupee.png" width="20px" height="15px"></span><b>{{totalPrice}}</b></div>
    <button mat-raised-button style="margin-right: 1rem" color="primary" (click)="addOnItem()" >Add Item</button>
</div>
