/* variable color codes */
$yellow: #DFFF00;
$yellowOrange: #FFBF00;
$orange: #FF7F50;
$pink: #DE3163;
$lightGreen: #9FE2BF;
$sigma: #40E0D0;
$blue: #6495ED;
$lightgray: #CCCCFF;
$red: #C70039;
$maroon: #900C3F;
$purple: #581845;
$black: black;
$white: white;
$site-theme: #3f51b5;
$green: green;
$special-secondary: #555353;
$snack-back-color: #333333;