/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "./variable";

.snack-message-pos {
    position: fixed;
    bottom: 10%;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 5px;
    font-size: 12px;
    color: $white;
    background-color: $snack-back-color;
    padding: 10px;
}