@import "../../mixin";
@import "../../variable";

.heading{
    @include header-logo($pink);
}

.profileForm{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.mat-form-field-appearance-fill .mat-form-field-subscript-wrapper{
    padding: 0px !important;
}

.profile-input-class{
    width:50%;
}

@media screen and (max-width: 767px){
    .profile-input-class{
        width: 100%;
    }
}