@import "../../../variable";

.social-media-parent{
    position: relative;
}

.social-media-child1{
    position: fixed;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.social-media-child2{
    position: fixed;
    top: 56%;
    right: 1%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.social-media-child3{
    position: fixed;
    top: 62%;
    right: 1%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.social-media-child4{
    position: fixed;
    top: 68%;
    right: 1%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.social-media-img{
    width:35px;
    height:35px;
    border: 1px solid $pink;
    border-radius: 5px;
    margin-bottom: 3px;
    cursor: pointer;
    transition: all 2s ease-in-out;
    &:hover{
        //transform: scale(1.2);
        width: 60px;
    }
}



