<div class="social-media-parent">
    <div class="social-media-child1">
        <img src="assets/images/whatsapp.jpg" class="social-media-img" alt="whatsapp" />
    </div>
    <div class="social-media-child2">
        <img src="assets/images/facebook.jpg" class="social-media-img" alt="facebook" />
    </div>
    <div class="social-media-child3">
        <img src="assets/images/twitter.jpg" class="social-media-img" #twitter alt="twitter" />
    </div>
    <div class="social-media-child4">
        <img src="assets/images/instagram.jpg" class="social-media-img" #instragram alt="instagram" />
    </div>
</div>
