<p>practice-observable-rxjs works!</p>

<div>
    <button (click)="startTimer()">Start Timer</button>
    <button id="stopTimer">Stop Timer</button>
</div>

<div>
  <h1>Reactive Forms with child input component</h1>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="row mb-2">
      <div class="col-6">
        <app-child-dropdown-component [fGName]="myForm" (dropdownValueEvent)="_dropdownValueEvent($event)" [properties]="configDetails.discount"></app-child-dropdown-component>
      </div>
      <div class="col-6" *ngIf="inputArray.length > 0">
        <ng-container *ngFor="let each of inputArray;let i = index">
            <app-child-component [fGName]="myForm" [properties]="each"></app-child-component>
        </ng-container>
      </div>
    </div>
    <div class="">
      <app-child-component [fGName]="myForm" [properties]="configDetails.description"></app-child-component>
    </div>
    <button [disabled]="myForm.invalid">Submit</button>
  </form>
</div>