<p>practice-observable-rxjs works!</p>

<div>
    <button (click)="startTimer()">Start Timer</button>
    <button id="stopTimer">Stop Timer</button>
</div>

<div>
  <h1>Reactive Forms with child input component</h1>
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div *ngFor="let each of configDetails; let i = index;">
      <app-child-component [formGroupName]=myForm [cformControlName]="each.name" [cPlaceholder]="each.placeholder" [cType]="each.type" [color]="each.color"></app-child-component>
    </div>
    <button [disabled]="myForm.invalid">Submit</button>
  </form>
</div>